# Sorting SubjectIDs for Cardiomyopathy and Coronary artery disease (CAD) patients


### Inputs: 

* **D_ICD_DIAGNOSES.csv** : ICD-9 codes for diagnoses
* **DIAGNOSES_ICD.csv** : ICD-9 diagnoses for patients
* **SubjectsWithNotes.csv** created by Sarah: Unique SubjectIDs for all patients with associated note data in NOTEEVENTS

### Outputs: 

* **SubID_ICD_Disease.csv**: Unique SubjectIDs for Cardiomyopathy and CAD patients sorted from "SubjectsWithNotes.csv"

## Mount drive and import the necessary library

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.activity.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fexperimentsandconfigs%20https%3a%2f%2fwww.googleapis.com%2fauth%2fphotos.native&response_type=code

Enter your authorization code:
4/1AY0e-g7Mo9_7f4289tUi-aoj4apzC36mVN5irASwhPsDPwp3JMXdUth42ak
Mounted at /content/drive
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## D_ICD_Diagnoses data from MIMIC III
 ### This table defines ICD-9 codes for diagnoses. We use this data to find the ICD-9 codes associated with the diseases (Cardiomyopathy and CAD) we are interested in.

Import ICD_Diagnoses csv file from our Google drive

In [ ]:
ICD_D = pd.read_csv('/content/drive/MyDrive/cbb 750 final/mimic/D_ICD_DIAGNOSES.csv')
ICD_D

       ROW_ID  ...                                         LONG_TITLE
0         174  ...  Tuberculous pneumonia [any form], tubercle bac...
1         175  ...              Tuberculous pneumothorax, unspecified
2         176  ...  Tuberculous pneumothorax, bacteriological or h...
3         177  ...  Tuberculous pneumothorax, bacteriological or h...
4         178  ...  Tuberculous pneumothorax, tubercle bacilli fou...
...       ...  ...                                                ...
14562   14432  ...  Special screening examination for unspecified ...
14563   14433  ...                  Screening examination for cholera
14564   14434  ...   Screening examination for pulmonary tuberculosis
14565   14435  ...  Screening examination for leprosy (Hansen's di...
14566   14436  ...               Screening examination for diphtheria

[14567 rows x 4 columns]

Obtain rows only related to **'Cardiomyopathy'** from dataframe(*ICD_D*) above by sorting the rows containing *'cardiomyopath'* in 'LONG_TITLE' column because cardiomyopathy disease describes with 'cardiomyopathy' or 'cardiomyopathies'.

In [ ]:
Disease1 = ICD_D[ICD_D['LONG_TITLE'].str.contains("cardiomyopath")]
Disease1

       ROW_ID  ...                                         LONG_TITLE
4430     4431  ...            Hypertrophic obstructive cardiomyopathy
4431     4432  ...                  Other hypertrophic cardiomyopathy
4432     4433  ...                   Obscure cardiomyopathy of Africa
4434     4435  ...                     Other primary cardiomyopathies
4435     4436  ...                           Alcoholic cardiomyopathy
4436     4437  ...           Nutritional and metabolic cardiomyopathy
4438     4439  ...              Secondary cardiomyopathy, unspecified
12531   10606  ...  Peripartum cardiomyopathy, unspecified as to e...
12532   10607  ...  Peripartum cardiomyopathy, delivered, with or ...
12533   10608  ...  Peripartum cardiomyopathy, delivered, with men...
12534   10609  ...  Peripartum cardiomyopathy, antepartum conditio...
12535   10610  ...  Peripartum cardiomyopathy, postpartum conditio...

[12 rows x 4 columns]

Obtain rows only related to **'Coronary artery disease(CAD)'** from dataframe(*ICD_D*) above by sorting the rows containing *'atherosclerosis'* in 'LONG_TITLE' column because CAD is mainly caused by atherosclerosis. When sorted with 'coronary artery' or 'CAD', there were no data enough.

In [ ]:
Disease2 = ICD_D[ICD_D['LONG_TITLE'].str.contains("atherosclerosis")]
Disease2

      ROW_ID  ...                                         LONG_TITLE
4204    4205  ...  Other atherosclerosis of native arteries of th...
4210    4211  ...        Generalized and unspecified atherosclerosis
4372    4373  ...  Coronary atherosclerosis of unspecified type o...
4373    4374  ...  Coronary atherosclerosis of native coronary ar...
4374    4375  ...  Coronary atherosclerosis of autologous vein by...
4375    4376  ...  Coronary atherosclerosis of nonautologous biol...
4376    4377  ...    Coronary atherosclerosis of artery bypass graft
4377    4378  ...  Coronary atherosclerosis of unspecified bypass...
4378    4379  ...  Coronary atherosclerosis of native coronary ar...
4379    4380  ...  Coronary atherosclerosis of bypass graft (arte...
4385    4386  ...  Coronary atherosclerosis due to lipid rich plaque
4386    4387  ...  Coronary atherosclerosis due to calcified coro...
5332    5061  ...                           Cerebral atherosclerosis

[13 rows x 4 columns]

Narrow down only the rows that correspond to general diseases, not specified diseases(i.e., alcoholic cardiomyopathy) from dataframes above (*Disease1*; cardiomyopathy and *Disease2*; CAD). The general diseases were manually decided via discussion with team and sorted by using ICD9 codes that we selected from 'ICD9_CODE' column.

In [ ]:
# Three ICD9 codes below selected for general cardiomyopathy from dataframe 'Disease1'
ICD_CMP = Disease1.loc[Disease1['ICD9_CODE'].isin(['42511','42518','4254'])]
ICD_CMP

      ROW_ID  ...                               LONG_TITLE
4430    4431  ...  Hypertrophic obstructive cardiomyopathy
4431    4432  ...        Other hypertrophic cardiomyopathy
4434    4435  ...           Other primary cardiomyopathies

[3 rows x 4 columns]

In [ ]:
# Four ICD9 codes below selected for general CAD from dataframe 'Disease2'
ICD_CAD = Disease2.loc[Disease2['ICD9_CODE'].isin(['44029','4409','41401','4143'])]
ICD_CAD

      ROW_ID  ...                                         LONG_TITLE
4204    4205  ...  Other atherosclerosis of native arteries of th...
4210    4211  ...        Generalized and unspecified atherosclerosis
4373    4374  ...  Coronary atherosclerosis of native coronary ar...
4385    4386  ...  Coronary atherosclerosis due to lipid rich plaque

[4 rows x 4 columns]

Create one dataframe by concatenating two dataframes above (*'ICD_CMP'* and *'ICD_CAD'*)

In [ ]:
Disease = pd.concat([ICD_CMP, ICD_CAD])
Disease

      ROW_ID  ...                                         LONG_TITLE
4430    4431  ...            Hypertrophic obstructive cardiomyopathy
4431    4432  ...                  Other hypertrophic cardiomyopathy
4434    4435  ...                     Other primary cardiomyopathies
4204    4205  ...  Other atherosclerosis of native arteries of th...
4210    4211  ...        Generalized and unspecified atherosclerosis
4373    4374  ...  Coronary atherosclerosis of native coronary ar...
4385    4386  ...  Coronary atherosclerosis due to lipid rich plaque

[7 rows x 4 columns]

## DIAGNOSES_ICD data from MIMIC III
### This data contains ICD-9 diagnoses for patients. We use this data to find the Subject_ID associated with the ICD-9 codes we selected above.

Import DIAGNOSES_ICD csv file from our Google drive

In [ ]:
ROW_SUB = pd.read_csv('/content/drive/MyDrive/cbb 750 final/mimic/DIAGNOSES_ICD.csv')
ROW_SUB

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0         1297         109   172335      1.0     40301
1         1298         109   172335      2.0       486
2         1299         109   172335      3.0     58281
3         1300         109   172335      4.0      5855
4         1301         109   172335      5.0      4254
...        ...         ...      ...      ...       ...
651042  639798       97503   188195      2.0     20280
651043  639799       97503   188195      3.0     V5869
651044  639800       97503   188195      4.0     V1279
651045  639801       97503   188195      5.0      5275
651046  639802       97503   188195      6.0      5569

[651047 rows x 5 columns]

Obtain rows that corresponds only to the ICD9 codes within the *'Disease'* dataframe from *'ROW_SUB'* dataframe by merging *'ROW_SUB'* dataframe to *'Disease'* dataframe based on column 'ICD9_CODE'.

In [ ]:
Merge = pd.merge(ROW_SUB, Disease, on='ICD9_CODE')
Merge

       ROW_ID_x  ...                               LONG_TITLE
0          1301  ...           Other primary cardiomyopathies
1           543  ...           Other primary cardiomyopathies
2           554  ...           Other primary cardiomyopathies
3            11  ...           Other primary cardiomyopathies
4           238  ...           Other primary cardiomyopathies
...         ...  ...                                      ...
14168    461064  ...  Hypertrophic obstructive cardiomyopathy
14169    483348  ...  Hypertrophic obstructive cardiomyopathy
14170    514180  ...  Hypertrophic obstructive cardiomyopathy
14171    513848  ...  Hypertrophic obstructive cardiomyopathy
14172    633006  ...  Hypertrophic obstructive cardiomyopathy

[14173 rows x 8 columns]

Select only the columns that we need from the merged dataframe above (*'Merge'*)

In [ ]:
SUB_ICD = Merge[['SUBJECT_ID','ICD9_CODE','SHORT_TITLE','LONG_TITLE']]
SUB_ICD

       SUBJECT_ID  ...                               LONG_TITLE
0             109  ...           Other primary cardiomyopathies
1              68  ...           Other primary cardiomyopathies
2              68  ...           Other primary cardiomyopathies
3               3  ...           Other primary cardiomyopathies
4              34  ...           Other primary cardiomyopathies
...           ...  ...                                      ...
14168       57865  ...  Hypertrophic obstructive cardiomyopathy
14169       62664  ...  Hypertrophic obstructive cardiomyopathy
14170       69274  ...  Hypertrophic obstructive cardiomyopathy
14171       69232  ...  Hypertrophic obstructive cardiomyopathy
14172       96108  ...  Hypertrophic obstructive cardiomyopathy

[14173 rows x 4 columns]

## Unique SubjectID list created by Sarah
### This data contains SubjectIDs for all patients with associated note data in NOTEEVENTS. We use this data to find the Unique SubjectIDs associated with both the note data and the ICD-9 codes we selected above. This data was generated in 'Exploratory.Rmd' by Sarah.

Import Unique SubjectID list file (SubjectsWithNotes.csv) from our Google drive

In [ ]:
subjectID = pd.read_csv('/content/drive/MyDrive/cbb 750 final/SubjectsWithNotes.csv')
subjectID

       SUBJECT_ID
0           22532
1           13702
2           26880
3           53181
4           20646
...           ...
46141       31666
46142       31667
46143       31790
46144       32151
46145       31655

[46146 rows x 1 columns]

Obtain rows that corresponds only to the SubjectIDs within the *'SUB_ICD'* dataframe from *'subjectID'* dataframe by merging *'subjectID'* dataframe to *'SUB_ICD'* dataframe based on column 'SUBJECT_ID'.

In [ ]:
SubID_ICD = pd.merge(subjectID, SUB_ICD, on='SUBJECT_ID')
SubID_ICD

       SUBJECT_ID  ...                                         LONG_TITLE
0           22532  ...                     Other primary cardiomyopathies
1           13702  ...  Coronary atherosclerosis of native coronary ar...
2            5350  ...  Coronary atherosclerosis of native coronary ar...
3           10044  ...  Coronary atherosclerosis of native coronary ar...
4           79900  ...  Coronary atherosclerosis of native coronary ar...
...           ...  ...                                                ...
14121       26020  ...  Coronary atherosclerosis of native coronary ar...
14122       32147  ...  Coronary atherosclerosis of native coronary ar...
14123       21177  ...  Coronary atherosclerosis of native coronary ar...
14124       18957  ...  Coronary atherosclerosis of native coronary ar...
14125        9010  ...  Coronary atherosclerosis of native coronary ar...

[14126 rows x 4 columns]

Keep only the first row of duplicate SubjectIDs in the '*SubID_ICD'* dataframe and remove the rest

In [ ]:
SubID_ICDr = SubID_ICD.drop_duplicates(subset='SUBJECT_ID', keep='first')
SubID_ICDr

       SUBJECT_ID  ...                                         LONG_TITLE
0           22532  ...                     Other primary cardiomyopathies
1           13702  ...  Coronary atherosclerosis of native coronary ar...
2            5350  ...  Coronary atherosclerosis of native coronary ar...
3           10044  ...  Coronary atherosclerosis of native coronary ar...
4           79900  ...  Coronary atherosclerosis of native coronary ar...
...           ...  ...                                                ...
14121       26020  ...  Coronary atherosclerosis of native coronary ar...
14122       32147  ...  Coronary atherosclerosis of native coronary ar...
14123       21177  ...  Coronary atherosclerosis of native coronary ar...
14124       18957  ...  Coronary atherosclerosis of native coronary ar...
14125        9010  ...  Coronary atherosclerosis of native coronary ar...

[11585 rows x 4 columns]

Quickly checked the number of CAD/CM records:

In [ ]:
cmrecords = SubID_ICDr.loc[SubID_ICDr['ICD9_CODE'].isin(['42511','42518','4254'])]
cadrecords = SubID_ICDr.loc[SubID_ICDr['ICD9_CODE'].isin(['44029','4409','41401','4143'])]


print("Number of CM records: " + str(cmrecords.size))
print("Number of CAD records: " + str(cadrecords.size))

Number of CM records: 5380
Number of CAD records: 40960

## The output file
### This data is the unique SubjectIDs associated with both the note data and the ICD-9 codes for Cardiomyopathy and CAD patients. This data will be used for classification.

Export *'SubID_ICDr'* dataframe as csv file (**SubID_ICD_Disease.csv**) to our Google drive

In [ ]:
SubID_ICDr.to_csv("/content/drive/MyDrive/cbb 750 final/SubID_ICD_Disease.csv")