# Information on what this script does 

This is just a template and we don't have to fill it in now, but we will need to do something like this prior to submission. 

### Inputs: 

* file 1

### Outputs: 

* file 1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Let's import the necessary packages:

In [ ]:
import pandas as pd

## Information on D_ICD_Diagnoses and what you'll do with it

In [ ]:
# Import ICD_Diagnoses csv file
ICD_D = pd.read_csv('/content/drive/MyDrive/cbb 750 final/mimic/D_ICD_DIAGNOSES.csv')
ICD_D

       ROW_ID  ...                                         LONG_TITLE
0         174  ...  Tuberculous pneumonia [any form], tubercle bac...
1         175  ...              Tuberculous pneumothorax, unspecified
2         176  ...  Tuberculous pneumothorax, bacteriological or h...
3         177  ...  Tuberculous pneumothorax, bacteriological or h...
4         178  ...  Tuberculous pneumothorax, tubercle bacilli fou...
...       ...  ...                                                ...
14562   14432  ...  Special screening examination for unspecified ...
14563   14433  ...                  Screening examination for cholera
14564   14434  ...   Screening examination for pulmonary tuberculosis
14565   14435  ...  Screening examination for leprosy (Hansen's di...
14566   14436  ...               Screening examination for diphtheria

[14567 rows x 4 columns]

A sentence on why you are selecting via text matching and just briefly explaining what the disease dataframe is going to do

In [ ]:
# Sort rows related to 'cardiomyopathies'
Disease = ICD_D[ICD_D['LONG_TITLE'].str.contains("cardiomyopath")]
Disease

       ROW_ID  ...                                         LONG_TITLE
4430     4431  ...            Hypertrophic obstructive cardiomyopathy
4431     4432  ...                  Other hypertrophic cardiomyopathy
4432     4433  ...                   Obscure cardiomyopathy of Africa
4434     4435  ...                     Other primary cardiomyopathies
4435     4436  ...                           Alcoholic cardiomyopathy
4436     4437  ...           Nutritional and metabolic cardiomyopathy
4438     4439  ...              Secondary cardiomyopathy, unspecified
12531   10606  ...  Peripartum cardiomyopathy, unspecified as to e...
12532   10607  ...  Peripartum cardiomyopathy, delivered, with or ...
12533   10608  ...  Peripartum cardiomyopathy, delivered, with men...
12534   10609  ...  Peripartum cardiomyopathy, antepartum conditio...
12535   10610  ...  Peripartum cardiomyopathy, postpartum conditio...

[12 rows x 4 columns]

Link icd-9 browser results for 428.0 and just talk about cardiomyopathy

In [ ]:
# To add ICD code '4280', select the row
icd4280 = ICD_D.loc[ICD_D['ICD9_CODE'] == '4280']
icd4280

      ROW_ID ICD9_CODE SHORT_TITLE                             LONG_TITLE
4472    4473      4280     CHF NOS  Congestive heart failure, unspecified

In [ ]:
# Add ICD code 4280 row to the Disease dataframe
Disease = pd.concat([Disease, icd4280])
Disease

       ROW_ID  ...                                         LONG_TITLE
4430     4431  ...            Hypertrophic obstructive cardiomyopathy
4431     4432  ...                  Other hypertrophic cardiomyopathy
4432     4433  ...                   Obscure cardiomyopathy of Africa
4434     4435  ...                     Other primary cardiomyopathies
4435     4436  ...                           Alcoholic cardiomyopathy
4436     4437  ...           Nutritional and metabolic cardiomyopathy
4438     4439  ...              Secondary cardiomyopathy, unspecified
12531   10606  ...  Peripartum cardiomyopathy, unspecified as to e...
12532   10607  ...  Peripartum cardiomyopathy, delivered, with or ...
12533   10608  ...  Peripartum cardiomyopathy, delivered, with men...
12534   10609  ...  Peripartum cardiomyopathy, antepartum conditio...
12535   10610  ...  Peripartum cardiomyopathy, postpartum conditio...
4472     4473  ...              Congestive heart failure, unspecified

[13 rows x 4 columns]

## Info on DIAGNOSES_ICD and what you are going to do with it

There's an option to use text cells for these comments and write out short sentences of "comments" e.g. "First, we'll import subject_id and icd9_code data from the DIAGNOSES_ICD table" [you might want to say why you are doing this]. If anything it's just so we can directly copy paste this stuff into our final report.

In [ ]:
# Import SubID and ICD9 code data
ROW_SUB = pd.read_csv('/content/drive/MyDrive/cbb 750 final/mimic/DIAGNOSES_ICD.csv')
ROW_SUB

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0         1297         109   172335      1.0     40301
1         1298         109   172335      2.0       486
2         1299         109   172335      3.0     58281
3         1300         109   172335      4.0      5855
4         1301         109   172335      5.0      4254
...        ...         ...      ...      ...       ...
651042  639798       97503   188195      2.0     20280
651043  639799       97503   188195      3.0     V5869
651044  639800       97503   188195      4.0     V1279
651045  639801       97503   188195      5.0      5275
651046  639802       97503   188195      6.0      5569

[651047 rows x 5 columns]

In [ ]:
# Sort rows that have SubID corresponding to ICD9 codes about cardiomyopathies by merging two dataframes
Merge = pd.merge(ROW_SUB, Disease, on='ICD9_CODE')
Merge

       ROW_ID_x  ...                               LONG_TITLE
0          1301  ...           Other primary cardiomyopathies
1           543  ...           Other primary cardiomyopathies
2           554  ...           Other primary cardiomyopathies
3            11  ...           Other primary cardiomyopathies
4           238  ...           Other primary cardiomyopathies
...         ...  ...                                      ...
14998    461064  ...  Hypertrophic obstructive cardiomyopathy
14999    483348  ...  Hypertrophic obstructive cardiomyopathy
15000    514180  ...  Hypertrophic obstructive cardiomyopathy
15001    513848  ...  Hypertrophic obstructive cardiomyopathy
15002    633006  ...  Hypertrophic obstructive cardiomyopathy

[15003 rows x 8 columns]

In [ ]:
# Show only the columns we need from the merged dataframe above
SUB_ICD = Merge[['SUBJECT_ID','ICD9_CODE','SHORT_TITLE','LONG_TITLE']]
SUB_ICD

       SUBJECT_ID  ...                               LONG_TITLE
0             109  ...           Other primary cardiomyopathies
1              68  ...           Other primary cardiomyopathies
2              68  ...           Other primary cardiomyopathies
3               3  ...           Other primary cardiomyopathies
4              34  ...           Other primary cardiomyopathies
...           ...  ...                                      ...
14998       57865  ...  Hypertrophic obstructive cardiomyopathy
14999       62664  ...  Hypertrophic obstructive cardiomyopathy
15000       69274  ...  Hypertrophic obstructive cardiomyopathy
15001       69232  ...  Hypertrophic obstructive cardiomyopathy
15002       96108  ...  Hypertrophic obstructive cardiomyopathy

[15003 rows x 4 columns]

## Discuss subject id file from Sarah and mention that it's generated in Exploratory.Rmd

In [ ]:
# Import SubID data received from Sarah
subjectID = pd.read_csv('/content/drive/MyDrive/cbb 750 final/SubjectsWithNotes.csv')
subjectID

       SUBJECT_ID
0           22532
1           13702
2           26880
3           53181
4           20646
...           ...
46141       31666
46142       31667
46143       31790
46144       32151
46145       31655

[46146 rows x 1 columns]

In [ ]:
# Sort SubID sent by Sarah by merging with SubID-ICD9code data
SubID_ICD = pd.merge(subjectID, SUB_ICD, on='SUBJECT_ID')
SubID_ICD = SubID_ICD.drop_duplicates()
SubID_ICD = SubID_ICD.drop_duplicates(subset='SUBJECT_ID', keep='first')
SubID_ICD

       SUBJECT_ID  ...                             LONG_TITLE
0           22532  ...         Other primary cardiomyopathies
1           26880  ...  Congestive heart failure, unspecified
2           20646  ...  Congestive heart failure, unspecified
3           28063  ...  Congestive heart failure, unspecified
4            1136  ...  Congestive heart failure, unspecified
...           ...  ...                                    ...
14949        4077  ...  Congestive heart failure, unspecified
14950        6609  ...  Congestive heart failure, unspecified
14951       23570  ...  Congestive heart failure, unspecified
14952       17749  ...  Congestive heart failure, unspecified
14953       32292  ...  Congestive heart failure, unspecified

[10162 rows x 4 columns]

In [ ]:
# remove duplicated subject ID
SubID_ICD = SubID_ICD.drop_duplicates(subset='SUBJECT_ID', keep='first')
SubID_ICD

       SUBJECT_ID  ...                             LONG_TITLE
0           22532  ...         Other primary cardiomyopathies
1           26880  ...  Congestive heart failure, unspecified
2           20646  ...  Congestive heart failure, unspecified
3           28063  ...  Congestive heart failure, unspecified
4            1136  ...  Congestive heart failure, unspecified
...           ...  ...                                    ...
14949        4077  ...  Congestive heart failure, unspecified
14950        6609  ...  Congestive heart failure, unspecified
14951       23570  ...  Congestive heart failure, unspecified
14952       17749  ...  Congestive heart failure, unspecified
14953       32292  ...  Congestive heart failure, unspecified

[10162 rows x 4 columns]

## Discuss the output file you're generating

In [ ]:
# Export the dataframe as a csv file
SubID_ICD.to_csv('SubID_ICD_Disease.csv')
!cp SubID_ICD_Disease.csv "drive/My Drive/"